.body_background
{
    background-image: url("https://png.pngtree.com/png-clipart/20190520/original/pngtree-abstract-background-png-image_4121274.jpg");
    background-position: center;
    background-size: cover;
}